.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-bottom: 2px solid #4caf50;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header p {
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.game-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
